<article>

<div >
  <h1>Ut occaecat non</h1>

  <p class="lead">Intro Copy enim eiusmod ut cillum dolore in laboris laborum culpa labore nisi dolore.</p>

  <p>Veniam enim eiusmod ut <a href="#">Anchor Link plus descender</a> dolore in laboris laborum culpa labore nisi
    dolore. Mollit consectetur ad Excepteur fugiat eiusmod reprehenderit. In non ut sit dolore labore dolore ut Ut et
    laboris aute. Quis minim ut sit ut in nostrud do voluptate Ut sit dolore. Sint pariatur ut qui sed nisi nisi
    eiusmod sunt tempor. Dolor quis non occaecat est dolore adipisicing in occaecat. Aliqua magna officia cupidatat in
    sed ullamco. Ut enim occaecat nostrud sed aliquip tempor Duis minim exercitation laborum.</p>
  <h3>Officia <a href="#">estp</a> <em>nulla</em></h3>
  <p>Reprehenderit fugiat deserunt deserunt elit ad est qui. Aliqua laborum magna veniam id voluptate nisi id. Velit
    elit cupidatat exercitation proident sunt exercitation consectetur elit eu ullamco deserunt voluptate. Sunt
    reprehenderit pariatur ad dolore cillum veniam reprehenderit sed id. Eiusmod incididunt consectetur proident sint
    ex incididunt.</p>

  <div class="add-bottom">
    <p><a href="#" class="button">Button</a></p>
    <p><a href="#" class="button arrow">Button</a></p>
    <p><a href="#" class="cta-button">CTA Button</a></p>
    <p><a href="#" class="button smaller">Button Smaller</a></p>
    <p><a href="#" class="button larger">Button Larger</a></p>
    <p class="remove-bottom"><a href="#" class="button full-width">Button Full-Width</a></p>
  </div>
  <div class="fill gulf-blue add-bottom" style="padding: 30px;">
    <p><a href="#" class="button transparent">Button</a></p>
    <p class="remove-bottom"><a href="#" class="button transparent arrow">Button</a></p>
  </div>
  <div class="fill dark-blue add-bottom" style="padding: 30px;">
    <p><a href="#" class="button outlined">Button</a></p>
    <p><a href="#" class="button outlined arrow">Button</a></p>
  </div>
</div>

<div class="center-text">
  <h2>Colors</h2>
</div>

<div class="swatches add-bottom">
    <div class="swatch fill dark-blue"><span>dark-blue</span></div>
    <div class="swatch fill gulf-blue"><span>gulf-blue</span></div>
    <div class="swatch fill light-green"><span>light-green</span></div>
    <div class="swatch fill coastal-aqua"><span>coastal-aqua</span></div>
    <div class="swatch fill calico-coral"><span>calico-coral</span></div>
    <div class="swatch fill charcoal"><span>charcoal</span></div>
    <div class="swatch fill light-gray"><span>light-gray</span></div>
</div>

</article>
